$light: #fff;
$darker: #262626;
$dark: #333333;
$less-dark: #4c4c4c;
$placeholder: #808080;
$header-color: #262626;
$contrast: #21a2ed;
$less-contrast: #59c2ff;
$card-bg: #f7f7f7;
$error: #ff4040;

$header-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.7);
$dark-section-shadow: 0px 0px 20px 0px rgba(33, 33, 33, 0.8);
$light-section-shadow: 0px 0px 80px 0px rgba(10, 10, 10, 0.8);
//______________________________________________________________________________
//
//                                 Медиа
//______________________________________________________________________________
@media screen and (max-width: 1170px) {
	.container {
		width: 768px;
	}
	.header {
		transition: 0s;
		&__container {
			position: relative;
		}
	}
	.navigation {
		display: none;
		position: absolute;
		z-index: -1;
		top: 100%;
		right: 15px;
		&_opened {
			display: block;
		}
		&__item {
			opacity: 0;
			display: block;
			height: 50px;
			line-height: 50px;
			margin: 5px 0 0 0;
			padding: 0;
			text-align: center;
			transition: opacity 0.1s;
			&_selected {
				padding: 0 50px;
				color: $placeholder;
				&::before {
					content: none;
				}
			}
			&_show {
				opacity: 1;
			}
		}
		&__link {
			z-index: 1;
			display: block;
			height: 100%;
			line-height: inherit;
			padding: 0 50px;
			&::after {
				content: none;
			}
			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
	.navigation-btn {
		display: block;
	}
	.header_scrolled {
		.header__container {
			background-color: $header-color;
		}
		.navigation_opened {
			.navigation__item {
				box-shadow: $header-shadow;
				&_selected {
					background-color: $header-color;
				}
			}
			.navigation__link {
				&::before {
					background-color: $header-color;
				}
			}
		}
	}
	.social {
		margin-right: 59px;
	}
	.main-title {
		max-width: unset;
	}
	.section-paragraph_center {
		width: 600px;
	}
	.advantages {
		&__item {
			display: flex;
			width: auto;
			&:nth-last-of-type(n+2) {
			    margin-bottom: 75px;
			}
			&:nth-of-type(odd) {
			    margin-right: 0;
			}
		}
		&__content-wrapper {
	        width: 530px;
	        margin-right: 40px;
		}
	}
	.reviews {
		padding-bottom: 70px;
		&__content-wrapper {
		    width: 738px;
		}
		&__text-wrapper {
		    width: 510px;
		}
		&__slider-controls-container {
		    top: auto;
		    bottom: 0;
		}
		&__slider-controls {
			justify-content: flex-end;
		}
		&__slider-arrow {
			border-radius: 0;
			margin-top: -50px;
			background-color: $card-bg;
			box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.6);
			&_left {
				margin-right: 30px;
			}
		}
	}
	.process {
		display: block;
		&__column {
			display: none;
		}
		&__single-column {
			display: block;
			width: 100%;
		}
		&__item {
			width: 100%;
		}
		&__paragraph {
			width: auto;
		}
	}
}