$light: #fff;
$darker: #262626;
$dark: #333333;
$less-dark: #4c4c4c;
$placeholder: #808080;
$header-color: #262626;
$contrast: #21a2ed;
$less-contrast: #59c2ff;
$card-bg: #f7f7f7;
$error: #ff4040;

$header-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.7);
$dark-section-shadow: 0px 0px 20px 0px rgba(33, 33, 33, 0.8);
$light-section-shadow: 0px 0px 80px 0px rgba(10, 10, 10, 0.8);
//______________________________________________________________________________
//
//                                 Медиа
//______________________________________________________________________________
@media screen and (min-width: 1171px) {
	.works {
		&__link {
			&:hover {
				.works__description {
					transform: translate(0px, 100%);
				}
			}
		}
		&__item {
			width: 360px;
			margin-right: 30px;
			&:nth-of-type(3n) {
				margin-right: 0;
			}
			&:nth-last-of-type(n+4) {
				margin-bottom: 30px;
			}
		}
	}
}
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.container {
		width: 768px;
	}
	.works {
		&__item {
			width: 100%;
			margin-bottom: 45px;
		}
		&__link {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
		&__image-wrapper {
			width: 360px;
		}
		&__description {
			height: 270px;
			width: 378px;
		}
	}
}
@media screen and (max-width: 1170px) {
	.main {
		padding-top: 80px;
	}
	.header {
		transition: 0s;
		&__container {
			position: relative;
			min-height: 80px;
		}
	}
	.navigation {
		display: none;
		position: absolute;
		z-index: -1;
		top: 100%;
		right: 15px;
		&_opened {
			display: block;
		}
		&__item {
			opacity: 0;
			display: block;
			height: 50px;
			line-height: 50px;
			margin: 5px 0 0 0;
			padding: 0;
			text-align: center;
			transition: opacity 0.1s;
			&_selected {
				padding: 0 50px;
				color: $placeholder;
				&::before {
					content: none;
				}
			}
			&_show {
				opacity: 1;
			}
		}
		&__link {
			z-index: 1;
			display: block;
			height: 100%;
			line-height: inherit;
			padding: 0 50px;
			&::after {
				content: none;
			}
			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
	.navigation-btn {
		display: block;
	}
	.header_scrolled {
		.header__container {
			background-color: $header-color;
		}
		.navigation_opened {
			.navigation__item {
				box-shadow: $header-shadow;
				&_selected {
					background-color: $header-color;
				}
			}
			.navigation__link {
				&::before {
					background-color: $header-color;
				}
			}
		}
	}
	.social {
		margin-right: 59px;
	}
	.main-screen__container {
	    min-height: 700px;
	}
	.main-title {
		max-width: unset;
	}
	.section-paragraph_center {
		width: 680px;
	}
	.advantages {
		&__item {
			display: flex;
			width: auto;
			&:nth-last-of-type(n+2) {
			    margin-bottom: 75px;
			}
			&:nth-of-type(odd) {
			    margin-right: 0;
			}
		}
		&__content-wrapper {
	        width: 530px;
	        margin-right: 40px;
		}
	}
	.reviews {
		padding-bottom: 70px;
		&__content-wrapper {
		    width: 738px;
		}
		&__text-wrapper {
		    width: 510px;
		}
		&__slider-controls-container {
		    top: auto;
		    bottom: 0;
		}
		&__slider-controls {
			justify-content: flex-end;
		}
		&__slider-arrow {
			border-radius: 0;
			margin-top: -50px;
			background-color: $card-bg;
			box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.6);
			&_left {
				margin-right: 30px;
			}
		}
	}
	.works {
		flex-direction: column;
		&__description {
			position: unset;
			background: none;
		}
		&__link {
			background-color: rgba(38, 38, 38, 0.9);
		}
	}
	.process {
		display: block;
		&__column {
			display: none;
		}
		&__single-column {
			display: block;
			width: 100%;
		}
		&__item {
			width: 100%;
			margin-bottom: 45px;
		}
		&__paragraph {
			width: auto;
		}
	}
	.contact {
		&__field {
			&_input {
				width: 354px;
			}
			&_textarea {
				height: 376px;
			}
		}
	}
	.work {
		&__container {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__image-wrapper {
		    width: 100%;
		    min-height: 900px;
		}
		&__information-wrapper {
			padding: 0;
			margin-top: 30px;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		&__information-column {
			width: 50%;
			> :last-child {
				margin-bottom: 0;
			}
			&_links {
				padding-top: 86px;
			}
		}
		&__information {
			&_links {
				text-align: right;
			}
		}
		&__link {
			margin-left: 0;
			margin-right: 24px;
			&::before {
				left: unset;
				right: -24px;
				transform: rotate(180deg);
			}
			&::after {
				left: unset;
				right: 0;
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.logo {
		margin-right: 0;
	}
	.social {
		margin-right: 44px;
		&__item {
			margin-right: 15px;
		}
	}
	.main-title {
	    font-size: 28px;
    	line-height: 38px;
	}
	.btn {
		font-size: 12px;
		line-height: 50px;
	    padding: 0 50px;
	}
	.main-screen__container {
	    min-height: 550px;
	}
	.about-me__container {
	    padding-top: 70px;
	    padding-bottom: 70px;
	    &::before {
	    	bottom: -340px;
    		left: -310px;
	    }
	    &::after {
	    	top: -340px;
    		right: -425px;
	    }
	}
	.section-title {
	    margin: 0 0 35px;
	    font-size: 24px;
	    line-height: 30px;
	    &_more-indent {
	    	margin: 0 0 50px;
	    }
	    &_less-indent {
	    	margin-bottom: 25px;
	    }
	}
	.section-paragraph {
		font-size: 14px;
    	line-height: 20px;
		&_center {
			width: auto;
		}
	}
	.section-advantages__container {
	    padding-top: 70px;
	    padding-bottom: 70px;
	}
	.advantages {
		&__item {
			&:nth-last-of-type(n+2) {
			    margin-bottom: 40px;
			}
		}
		&__count {
			font-size: 60px;
			line-height: 53px;
			min-width: 100px;
		}
		&__content-wrapper {
			width: auto;
			margin-right: 0;
		}
		&__title {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
	.section-reviews__container {
	    padding-top: 70px;
	    &::before {
	    	left: -310px;
    		bottom: -870px;
	    }
	    &::after {
	    	top: -330px;
    		right: -220px;
	    }
	}
	.reviews-wrapper {
		padding-bottom: 50px;
	}
	.reviews {
		padding-bottom: 60px;
		&__content-wrapper {
			width: 90%;
			flex-direction: column;
			padding: 40px;
		}
		&__image-wrapper {
			&_desktop {
				display: none;
			}
			&_mobile {
				display: block;
			}
		}
		&__text-wrapper {
			width: 100%;
		}
		&__header {
			margin-bottom: 30px;
		}
		&__username {
			display: block;
			font-size: 18px;
			margin-right: 0;
			margin-bottom: 6px;
		}
		&__social {
			display: block;
		}
		&__social-item {
			margin-bottom: 0;
		}
	}
	.last-works {
		&__anchor {
			top: -79px;
		}
		&__container {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
	.works {
		margin-bottom: 50px;
		&__item {
			width: 280px;
			margin: 0 auto 35px;
		}
		&__link {
			display: block;
		}
		&__image-wrapper {
			width: 100%;
			height: 210px;
			display: block;
		}
		&__description {
			width: 100%;
			height: auto;
			display: block;
			padding: 20px 30px;
		}
		&__heading {
			font-size: 18px;
			line-height: 18px;
			margin-bottom: 15px;
		}
		&__type {
			font-size: 15px;
			line-height: 15px;
			margin-bottom: 10px;
		}
		&__characteristics-list {
			margin-bottom: 5px;
		}
		&__characteristic-heading {
			&_sections {
				&::before {
					content: 'С'
				}
			}
		}
		&__characteristic-heading, &__price-heading, &__date-heading {
		    font-size: 13px;
		    line-height: 17px;
		}
		&__characteristic-value, &__price, &__date {
	        font-size: 11px;
			line-height: 17px;
		}
	}
	.about-process__container {
	    padding-top: 70px;
	    padding-bottom: 70px;
	}
	.process {
		&__item {
			padding: 35px;
			margin-bottom: 20px;
		}
		&__title {
		    font-size: 18px;
		    line-height: 22px;
		    margin-bottom: 25px;
		}
	}
	.contact-me {
		&__anchor {
			top: -79px;
		}
		&__container {
			padding-top: 75px;
			padding-bottom: 75px;
		}
	}
	.section-subtitle {
		font-size: 16px;
		line-height: 22px;
		max-width: 340px;
		margin: 0 auto 50px;
	}
	.contact {
		&__required-field-wrapper {
			&_name-input {
				display: block;
	    		margin-right: 0;
			}
			&_email-input {
				display: block;
			}
			&::after {
				top: 20px;
			}
		}
		&__field {
			padding: 20px 54px 20px 20px;
		    font: 400 12px/18px 'Montserrat',sans-serif;
			&_input {
				height: 50px;
				margin-bottom: 20px;
			    width: 100%;
			}
			&_textarea {
				height: 258px;
				margin-bottom: 45px;
			}
		}
	}
	.best-works__container {
		padding-top: 70px;
		padding-bottom: 20px;
	}
	.works-section__container {
	    padding-top: 70px;
	    padding-bottom: 70px;
	}
	.pagination {
		padding-bottom: 50px;
	}
	.page-numbers {
		&.prev {
			top: unset;
			right: unset;
			left: 55px;
			bottom: 0;
		}
		&.next {
			top: unset;
			left: unset;
			right: 55px;
			bottom: 0;
		}
	}
	.work {
		&__container {
			padding-top: 45px;
			padding-bottom: 70px;
		}
		&__image-wrapper {
			min-height: 500px;
		}
		&__title {
			font-size: 32px;
			line-height: 32px;
		}
		&__subtitle {
			line-height: 24px;
			margin: 0 0 25px;
		}
		&__information {
		    margin-bottom: 40px;
		}
		&__information-column_links {
			padding-top: 67px;
		}
		&__characteristic {
			line-height: 20px;
			margin-bottom: 15px;
		}
		&__characteristic-title {
		    font-size: 14px;
		}
		&__characteristic-value {
			font-size: 12px;
		}
		&__characteristics-list-item {
			margin: 0 0 15px 0;
		}
		&__links-item {
			margin-bottom: 12px;
		}
		&__link {
			font-size: 12px;
			line-height: 18px;
		}
		&__customer-name {
		    font-size: 14px;
		    line-height: 20px;
		}
		&__customer-data-wrapper {
			flex-shrink: 10000;
		}
	}
	.footer__container {
	    padding-top: 30px;
	    padding-bottom: 30px;
	    font-size: 10px;
	    line-height: 16px;
	}
}
@media (hover: none) {
// Для планшетов и телефонов   
}
@media (hover: hover) {
// эффекты наведения
}